:root {
    --general-font: "Inter", sans-serif;
    --title-size: 65px;
    --font-color: #c3dfe0;
}


body {
    padding: 20px;
    font-family: var(--general-font);
    color: var(--font-color);
    background-color: #0a2342;
}

h1 {
    font-size: var(--title-size);
    font-weight: 700;
    text-align: center;
    
}

h2 {
    font-weight: 200;
}

.nav-link {
    color: var(--font-color);
    text-decoration: none;
}

.nav-link:hover {
    color: white;
}

.signed-text {
    text-align: right;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    row-gap: 20px;
    align-content: flex-start;
    align-items: flex-start;
}

.card-image {
    width: 14rem;
}

.auction-card {
    width: 14rem;
}

.card-content {
    background-color: #0c2b52;
}

.card-atitle {
    color: white;
    font-weight: 700;
}

.card-adesc {
    color: white;
}

