{% extends "auctions/layout.html" %} 
{% block body %} 
{{ auction.item_name }}
starting price: {{ auction.starting_price }} current price: {{ highest_bid.bid_amount }}

<form action="{% url 'make_bid' auction.pk %}" method="POST">
  {% csrf_token %} {{ bidform.as_p }}
  <input type="submit" />
</form>

<form method="POST" action="{% url 'e_watchlist' auction.pk %}">
  {% csrf_token %} {% if exists %}
  <input type="submit" value="Remove from Watchlist" />
  {% else %}
  <input type="submit" value="Add to Watchlist" />
  {% endif %}
</form>

{% if request.user == auction.user and auction.active == True %}
<form method="POST" action="{% url 'close' auction.pk %}"> {% csrf_token %}
  <input type="submit" value="Close Auction" />
</form>
{% endif %} {% endblock %}

<input type="text" />
