{% extends "auctions/layout.html" %} 


{% block body %}
<h2>{{ title }}</h2>

<div class="card-container">
{% for auction in auctions %}

<div class="auction-card">
<img class="card-image" src="{{auction.image.url}}" alt="" />
    <div class="card-content">
    <div class="card-atitle">{{ auction.item_name }}</div>
    <div class="card-adesc">{{ auction.item_description }} <br> 
        Starting Price: ${{ auction.starting_price }} <br> 
        Current Bid: ${{ auction.bids.last.bid_amount }}</div>
        <form action="/auction/{{ auction.pk }}">
        <button class="auc-btn" type="submit">Go To Auction</button>
        </form>
    </div>
</div>
{% endfor %}
</div>

{% endblock %}
